/* You can add global styles to this file, and also import other style files */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.serials {
  padding: 2rem;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  &__input {
    &:nth-child(2n) {
      margin-left: 2rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
}

mat-table,
mat-paginator {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .serials {
    padding: 0.75rem;

    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__button {
      margin: 0;
    }

    &__input {
      margin: 0 !important;
    }
  }

  h1 {
    font-size: 1.75rem;
  }

  mat-table {
    margin-top: 1rem;
  }
}
