<div class="serials">
  <div class="serials__row">
    <div class="serials__input">
      <mat-form-field appearance="fill">
        <mat-label>Choose a status</mat-label>
        <mat-select
          [(ngModel)]="selectedFiltrStatus"
          (ngModelChange)="filtrStatus()"
        >
          <mat-option *ngFor="let status of statusList" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="serials__input">
      <mat-form-field appearance="fill">
        <mat-label>Choose a genres</mat-label>
        <mat-select
          [formControl]="genres"
          multiple
          (openedChange)="setGenres($event)"
        >
          <mat-option *ngFor="let genre of genreList" [value]="genre">{{
            genre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="serials__button">
      <button mat-raised-button color="primary" (click)="resetFilter()">
        Reset
      </button>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          TITLE
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="genres">
        <mat-header-cell *matHeaderCellDef> GENRES </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.genres }}
        </mat-cell>
        <mat-cell *matCellDef="let row"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="premiered">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          PREMIERE DATE
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.premiered; else elsePremiered">
            {{ row.premiered | date: "dd/MM/yyyy" }}
          </ng-container>
          <ng-template #elsePremiered> Lack of premiere date </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          RATING
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.rating; else elseTemplate">
            <p [style.color]="setColorRating(row.rating)">
              {{ row.rating }}
            </p>
          </ng-container>
          <ng-template #elseTemplate>
            <p [style.color]="setColorRating(row.rating)">Lack of rating</p>
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectRow(row)"
      >
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
</div>
