.table {
  width: 80%;
  margin: auto;
}

.serials {
  padding: 2rem;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
}