.serials {
  padding: 2rem;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  &__input {
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
}
